.container {
    border: solid 5px #ffffff;
    height: 500px;
    width: 30%;
    background-image: linear-gradient(to right, #8cd4e0, #073535);
    position: absolute;
    
    /* estilização do flex-container */
}

.container > * {
   /* box-sizing: content-box;
    border-style: solid;*/
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    /* estilização de todos os flex-items */
}

.teste{
    font-style: italic;
}

body{
    background-image: linear-gradient(to right, #073535, #8cd4e0);
    display: flex;
    justify-content: center;
}